@font-face {
  font-family: 'AdvinePixel-Regular';
  src: url('../fonts/AdvinePixel-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AdvinePixel-Outline';
  src: url('../fonts/AdvinePixel-Outline.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*About Modules*/
/*
.aboutPage:before{
    content: ""; 
    background-image : url('../images/asset-4.jpg');
    opacity:.1;
    content: "";
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
            pointer-events: none; 

}*/

.aboutModule{
   display: flex;
    flex-direction: column;
    justify-content: center;
            font-family: 'IBM Plex Monno', monospace;

    background-color: rgb(134, 162, 170, .6);
    padding: 1em;
    border-radius: 24px;
    text-align: center;
    margin: 4% 0;
}
.aboutPage{
    margin: 0 auto;
    background-color: #C6BB99;
     color: white;
   font-family: 'IBM Plex Mono, monospace';
     align-self: center
}
.mainText span{
    padding: 2% 0;
        display: flex;
    flex-direction: column;
}
 a{
    color: white;
    text-decoration: underline;
 }
.aboutTitle{
    font-family: 'AdvinePixel-Regular';}

.imageBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;}
.imageBoxImage{
    flex-direction:row;
    display:flex;
    justify-content:center;
    align-items:center;
}
.mainText{
        font-family: 'IBM Plex Monno', monospace;
        color:white;}



        @media (max-width: 768px) {
          .aboutText {
            padding: 0 2%;
          }
    .aboutTitle{
      font-size: 1.6em
        }
    }
          @media (min-width: 768px) {

            .aboutTitle{
      font-size: 2.5em}

          .aboutText {
            padding: 0 14%;
          }
          .aboutPage{
                padding: 0em 0;
          }
        }