
@font-face {
  font-family: 'AdvinePixel-Regular';
  src: url('../fonts/AdvinePixel-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AdvinePixel-Outline';
  src: url('../fonts/AdvinePixel-Outline.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.home{
     background-color: #3B5537;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
        pointer-events: none; 


}
.home:before{
    content: ""; 
    background-image : url('../images/asset-4.jpg');
    opacity:.3;
    content: "";
    background-size: cover;
    opacity: .1;
    position: absolute;
    width: 100%;
    height: 100%;
}
.welcome{
    font-family: 'AdvinePixel-Regular', sans-serif;
    color:#e8db72;
        font-size: 3em;

}
.mapping{
        font-family: 'IBM Plex Monno', monospace;
        color:white;
            font-size: 5em;
    text-align: center;
        line-height: 1;
        display:flex;
        justify-content:center;
        align-items:center;
       flex-direction: column;

}
.button{
    font-family: 'AdvinePixel-Regular', sans-serif;
color:white;
    font-size: 2em;
        display: flex;
        text-decoration: none;

}
.project{
        font-family: sans-serif ;
color:white;
    margin: 10vh 0;
}
@media (max-width: 768px) {
    .project{
        display: flex;
        flex-direction: column;
        font-size: .65em;
        align-items: center;
}}
@media (min-width: 768px) {
    .project{
        display:flex;
        flex-direction: column;
                align-items: center;


}}
.imageBoxImage{
    flex-direction:row;
    display:flex;
    justify-content:center;
    align-items:center;
}
 .letter {
            display: inline-block;
            animation: flash 2.5s infinite;
        }

        /* Stagger the animation delay for each letter */
        .letter:nth-child(1) { animation-delay: 0s; }
        .letter:nth-child(2) { animation-delay: 0.5s; }
        .letter:nth-child(3) { animation-delay: 1s; }
        .letter:nth-child(4) { animation-delay: 1.5s; }
        .letter:nth-child(5) { animation-delay: 2s; }

        @keyframes flash {
            0%, 20% {
    color:#e8db72;
;
            }
            25%, 100% {
                color: #fff;
                text-shadow: none;
            }
        }