
@font-face {
  font-family: 'AdvinePixel-Regular';
  src: url('../fonts/AdvinePixel-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AdvinePixel-Outline';
  src: url('../fonts/AdvinePixel-Outline.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.home{
     background-color: #3B5537;
    height: 100vh;
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;

}
.home:before{
    content: ""; 
    background-image : url('../images/asset-4.jpg');
    opacity:.3;
    content: "";
    background-size: cover;
    opacity: .1;
    position: absolute;
    width: 100%;
    height: 100%;
}
.welcome{
    font-family: 'AdvinePixel-Regular', sans-serif;
    color:#e8db72;
        font-size: 3em;

}
.mapping{
        font-family: 'IBM Plex Monno', monospace;
        color:white;
            font-size: 5em;
    text-align: center;
}
.button{
    font-family: 'AdvinePixel-Regular', sans-serif;
color:white;
    font-size: 2em;

}
.project{
        font-family: sans-serif ;
color:white;
}
.imageBoxImage{
    flex-direction:row;
    display:flex;
    justify-content:center;
    align-items:center;
}