.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #f08c048c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Navbar css*/
.navbar {
  background-color: #3B5537;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.navbar:before {
    content: ""; 
    background-image : url('/src/images/asset-4.jpg');
    opacity:.1;
    content: "";
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
          pointer-events: none;  

}


.navbar-brand a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}

/* Hamburger button */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: 0.4s;
}

/* Navigation links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.nav-links li a:hover {
  color: #00bcd4;
}

/* Responsive menu (mobile) */
@media screen and (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #111;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    padding: 1rem;
    display: none;
  }

  .nav-links.open {
    display: flex;
  }
}
/* Navbar css ends */
